version: '3.8'

services:
  react:
    container_name: react
    build:
      context: ./frontend/react
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - gin

  gin:
    container_name: gin
    build:
      context: ./backend/go/gin
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_started
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - REDIS_ADDR=redis:6379

  mongo:
    image: mongo
    container_name: mongo
    hostname: mongo
    ports:
      - "27017:27017"
    restart: always
    healthcheck:
      disable: true


  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
