version: '3'

services:
  react:
    container_name: 'react'
    build:
      context: ./frontend/react
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - gin

  gin:
    container_name: 'gin'
    build:
      context: ./backend/go/gin
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo
    container_name: 'mongo'
    hostname: 'mongo'
    ports:
      - "27017:27017"
    restart: always

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    restart: always